html{
    background-color: #0353a4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Share Tech Mono', monospace;
}

#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-container{
    width: 55vh;
    height: 80vh;
    background-color: #001845;
    border-radius: 30px;
    box-shadow: 0.5vh 0.5vh 0.5vh 0 rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#display-container{
    width: 50vh;
    height: 15vh;
    background-color: #33415c;
    border-radius: 30px;
    margin: 4vh 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#display-top{
    width: 90%;
    height: 35%;
    font-size: 4vh;
    color: #bdbdbd;
    margin: 1vh 1vh 0 0;


    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#display-bottom{
    width: 90%;
    height: 60%;
    font-size: 5vh;
    color: #bdbdbd;
    margin: 0 1vh 0 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display-numbers{
    margin: 0;
}

#buttons-container{
    width: 50vh;
    height: 55vh;
    /*background-color: #33415c;*/
    margin: 3vh 0 3vh 0;
    /*padding: 3vh 0 3vh 0;*/
    color: #bdbdbd;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-row{
    flex: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    width: 9vh;
    height: 9vh;
    font-size: 4vh;
    padding: 1vh;
    margin: 1vh;
    font-weight: 400;
    background: #5c677d;
    border: 0 solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0 rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;

    /*font-family: 'Squada One', cursive;*/
    font-family: 'Share Tech Mono', monospace;
}

#button-equals{
    width: 21.85vh;
    border-radius: 4vh;
}

button:hover {
    background: #bdbdbd;
    color: #212121;
    transform: translateY(-0.6vh);
}

@media only screen and (max-width: 550px) {
    #calculator-container{
        width: 40vh;
    }

    #display-container{
        width: 35vh;
    }

    .button{
        width: 7vh;
        height: 7vh;
        font-size: 3vh;
    }

    .container-row{
        flex: auto;
        width: auto;
    }

    #button-equals{
        width: 16vh;
        border-radius: 4vh;
    }
}